<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elecsiya.todo_success">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/log"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo_Succeess">
        <activity
            android:screenOrientation="landscape"
            android:name=".Digital.Digital_Clock"
            android:exported="false" />
        <activity
            android:name=".AboutMe.About_Developer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pomodoro.TaskName"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pomodoro.pomodoro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllTasksList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.Splash_Screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateTaskActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6784746727432772~4265795522" />
    </application>

</manifest>